body {
  background-color: #C7C8C9;
  font-family: 'Noto Sans Mono', monospace;
}

body.container-xl {
  padding: 0;
}

li {
  overflow: auto;
  white-space: nowrap;
}

header {
  text-align: center;
  padding: 20px;
}

section {
  margin: 20px;
}

#resume img {
  border-radius: 50%;
  border: 3px solid #212529;
}

#youtube-video {
  width: 90%;
}

#myBrand {
  font-family: 'Dancing Script', cursive;
  transform: rotate(-10deg);
}

#my-bio {
  flex-direction: column;
  text-align: justify;
}


.nav-link img:hover {
  transform: scale(1.75);
}

.contact-links {
  display: inline-block;
}

.contact-links:hover {
  transform: scale(1.01);
  font-weight: 900;
}

@media (max-width: 576px) {
  #toggle-theme-button {
    float: none !important;
    text-align: center;
  }

  #myNavbar {
    text-align: center;
  }

  #myNavbar div {
    justify-content: center;
  }

  #resume img {
    width: 50%;
  }

  .contact-icon {
    display: inline-block
  }

  #myFooter.contact-links {
    display: grid;
    flex-direction: column;

  }

}
