li {
  overflow: auto;
  white-space: nowrap;
}
@media (max-width: 576px) {
  #toggle-theme-button {
    float: none !important;
    text-align: center;
  }
  #myNavbar {
    text-align: center;
  }
  #myNavbar div {
    justify-content: center;
  }
}
